<h1>Stupid Coaching</h1>
<h2 class="asking">Write your question</h2>
<form action="/answer" method="get">
  <input type="text" name="question">
  <input class="button" type="submit" value="Ask!">
</form>
